.container-app{
    color: black;
    font-weight: 600;
}
.container-app input{
    height: 25px;
}
.container-app select{
    height: 25px;
    padding: 2px;
}
.container-app label{
    margin-bottom: 0px !important;
}
.navbar-app{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 100%;
    background-color: rgb(94 102 122);
    transition: left 0.5s;
}
.navbar-app-top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(255 252 246);
    border-bottom: 1px solid #bababa;
}
body{
    background-color: #f9f9ff;
}
.navbar-item, .logo-item{
    width: 100%;
    height: 40px;
    cursor: pointer;
    padding: 4px;
}
.navbar-item:hover{
    background-color: #384ca5;
}
.display-flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-img{
    color: #000;
    font-style: oblique;
    font-size: 11px;
    font-weight: bold;
    width: 70px !important;
    height: 50px !important;
}
.btn-pagination{
    color: white;
    font-size: 27px;
    font-weight: bold;
    background-color: rgb(94 102 122);
    width: 40px;
    height: 46px;
}
a:hover{
    text-decoration: none;
}
.list-journey-img{
    background:url(./img/truck2.png) 0px 0px no-repeat;
}
.add-journey-img{
    background:url(./img/truck-plus.png) 0px 0px no-repeat;
}
.list-old-journey-img{
    background:url(./img/old-truck2.png) 0px 0px no-repeat;
}
.logout-img{
    background:url(./img/logout.png) 0px 0px no-repeat;
}
.size50{
    width: 50px;
    height: 50px;
}
.size30{
    width: 30px;
    height: 30px;
}
.vitrine-item{
    width: 50px;
    float: right;
}
.logout{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.mgtop50{
    margin-top: 50px;
}
.mgtop20{
    margin-top: 20px;
}
.container-list-journey{
    padding: 5px;
    width: 95%;
    /* border: 1px solid lightgrey; */
}
.line-journey{
    margin-top: 0px;
    margin-bottom: 5px;
    /* border: 1px solid blue; */
    padding: 5px 5px 10px 5px;
    background-color: #e8f0ff;
    cursor: pointer;
    font-size: 15px;
}
.line-journey:hover{
    background-color: #dae7ff;
}
.little-square{
    width: 9%;
    display: inline-block;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #00de00;
    cursor: pointer;
    /* margin: 0px 1px 0px 1px; */
}
.little-square:hover{
    background-color: #00de0059;
}
.container-list-journey-page{
    margin-left: 120px;
}
.block-line-squares{
    width: 100%;
    height: 33.3%;
}
.img-front-truck{
    background:url(./img/front-truck.png) 0px 0px no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
}
.logo-green-point{
    background:url(./img/green-point.png) 0px 0px no-repeat;
}
.logo-green-arrow{
    background:url(./img/green-arrow.png) 0px 0px no-repeat;
}
.logo-clock{
    background:url(./img/logo-clock.png) 0px 0px no-repeat;
}
.logo-date{
    background:url(./img/logo-date.png) 0px 0px no-repeat;
}
.logo-mini-truck{
    background:url(./img/mini-logo-truck.png) 0px 0px no-repeat;
}
.height50p{
    height: 50%;
}
.height33p{
    height: 33%;
}
.text-v-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fontwb{
    font-weight: bold;
}
.colorblue{
    color: #5b95e2
}
.height100{
    height: 100%;
}
.width100{
    width: 100%;
}
#black-screen{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    width: 100%;
    height: 100%;
}
#popup-connexion{
    width: 60%;
    min-width: 300px;
    min-height: 50%;
    background-color: #fff;
    border: 5px solid #dadada;
    padding: 20px 0px 20px 0px;
}
.link-login{
    text-align: right;
    color: blue;
    cursor: pointer;
}
#message-flash{
    width: 100%; 
    background-color: #00ba62;
    color: white;
    position: fixed;
    top: 0px;
    z-index: 2;
    text-align: center;
    transition: height 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
  }
.flex-row{
    display:flex;
    flex-direction: row;
}
.block-spaces{
    width: 246px;
    height: 1331px;
    background: repeating-linear-gradient(0deg, rgb(221, 221, 221) 0px, rgb(221, 221, 221) 1px,transparent 1px, transparent 5px),repeating-linear-gradient(90deg, rgb(221, 221, 221) 0px, rgb(221, 221, 221) 1px,transparent 1px, transparent 5px),linear-gradient(90deg, hsl(104,0%,96%),hsl(104,0%,96%));
    position: relative !important;
    border: 3px solid lightgrey;
    position: relative !important;
}
.drop-spaces-zone{
    height: 100%;
    min-width: 44px;
    border: 3px dashed grey;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.space-draggable{
    width:60px;
    height:72px;
    background-color:lightgreen;
    box-shadow:inset 0 0 10px black;
    cursor:pointer;
    display:inline-block;
    margin:10px;
}
.draggable-space{
    box-shadow: inset 0 0 10px black;
}
.box-space{
    top:0px;
    left:720px;
    position:absolute;
    /* background-image: url(https://thumbs.dreamstime.com/b/palette-en-bois-41242631.jpg);
    background-size: 70px; */
}
.space-draggable-vertical-80-120{
    background-color: rgb(100, 117, 161);
    width:48px !important;
    height:72px !important;
}
.space-draggable-horizontal-80-120{
    background-color: rgb(100, 117, 161);
    width: 72px !important;
    height: 48px !important;
}
.space-draggable-vertical-100-120{
    background-color: rgb(100 156 161);
    width: 60px !important;
    height: 72px !important;
}
.space-draggable-horizontal-100-120{
    background-color: rgb(100 156 161);
    width: 72px !important;
    height: 60px !important;
}
.btn-delete-line{
    display: none;
    /* background-color: #111; */
    cursor: pointer;
    position: absolute;
    width: 40px !important;
    height: 40px;
    margin-top: 120px;
    background: url(./img/logo-poubelle.jpg) 10px 10px no-repeat;
}
.img-space-info{
    background: url(./img/img-space-info.png) 0px 0px no-repeat;
    width:20px;
    height:20px;
    cursor:pointer;
    float:right;
}
.img-space-trash{
    background: url(./img/img-space-trash.png) 0px 0px no-repeat;
    width:20px;
    height:20px;
    cursor:pointer;
    float:right;
}
.img-space-rotate{
    background: url(./img/img-space-rotate.png) 0px 0px no-repeat;
    width:20px;
    height:20px;
    cursor:pointer;
    float:left;
}
.img-space-rotate:hover,.img-space-trash:hover,.img-space-info:hover{
    background-color: #0000002e;
}
.space-number{
    text-align: center;
    font-size: 13px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 10px;
}
.container-space-form{
    background-color: #0000006b;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 13px;
}
.container-space-form input{
    margin-bottom : 0px !important;
}
.container-space-form label{
    margin-bottom : 0px !important;
}
.container-trash-form{
    background-color: #0000006b;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.space-form{
    width: 50%;
    min-width: 300px;
    margin: auto;
    margin-top: 5%;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    border: 5px solid #d0d0d0;
    height: 93%;
    overflow: scroll;
}
.trash-form{
    width: 50%;
    min-width: 300px;
    margin: auto;
    margin-top: 5%;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    border: 5px solid #d0d0d0;
}
.space-dropped:hover{
    opacity: 0.8;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 1.375rem;
    height: 1.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-top: 8px;
    margin-left: 8px;
}
.navbar-item:hover .a1{
    
        display:flex;
    
}
.a1{
    margin-left: 49px;
    margin-top: -28px;
    position: fixed;
    display: none;
    flex-direction: row;
    opacity: 0.7;
}
.a2{
    border:1px solid #b7b7b7;
    background-color:rgb(150 157 175);
    width: 21.21px;
    height: 21.21px;
    display: inline-block;
    transform: rotate(45deg);
    margin-top: 4px;
    position: absolute;
}
.a3{
    width: 114px;
    height:30px;
    background-color:rgb(150 157 175);
    color:#fff;
    border: 1px solid #b7b7b7;
    font-size: 11px;
    text-align: center;
    padding: 7px 0px;
    display: inline-block;
    margin-left: 11px;
    position: absolute;
    border-left: none;
}
.nav-item-company{
    width: 150px;
    height: 40px;
    float: right;
    font-size: 13px;
    text-align: center;
    padding: 3px 0px;
    cursor: pointer;
}
.arrow-menu-top{
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 12px solid #ececec;
    margin-left: 63px;
    margin-top: -12px;
}
.menu-top{
    background-color: #ececec;
    border: 1px solid #e4e4e4;
    margin-top: 30px;
    display:none;
}
.nav-item-company:active .menu-top{
    display:block;
}
.label-data-list{
    display: inline-block;
    width: 135px;
}
@media screen and (max-width: 450px) {
    .nav-mobile{
        width: 50px;
        height: 50px;
        background-color: #1c2d795c !important;
        cursor: pointer;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        background: url(./img/button-menu.png) 10px 10px no-repeat;
    }
    .navbar-app{
        left: -120px;
    }
    .little-square{
        /* width: 13px; */
        display: inline-block;
        /* height: 17px; */
    }
    .container-list-journey-page{
        margin-left: 0px !important;
    }
    .line-journey>div.col-md-2{
        border-bottom: 1px solid grey;
        min-height: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .line-journey>div.col-md-8{
        padding-top: 15px;
    }
    #popup-connexion{
        margin-top: 70px;
    }
    .space-form{
        margin-top: 25%;
    }
    .form-container{
        width: 90%;
    }
}


/* DragBox */
  
  .dragbox {
    position: absolute;
    background: #c2c2c2;
    border-radius: .2em;
    border: .1em solid #272727;
    width: 10em;
    height: 10em;
    line-height: 10em;
    text-align: center;
    cursor: move;
    user-select: none;
  }


  /* Mapquest */

  #map {
    height:400px;
    width: 400px;
    position: relative;
}

.formBlock {
    max-width: 300px;
    background-color: #FFF;
    border: 1px solid #ddd;
    /* position: absolute; */
    top: 10px;
    left: 10px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 5px;
    width: 100%;
}

.leaflet-top .leaflet-control {
    margin-top: 180px;
}

#form {
    padding: 0;
    margin: 0;
}
input:nth-child(1) {
    margin-bottom: 10px;
}